/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.idx {
    z-index: 9999;
}

.bg{
    background: url('../images/background.jpg') no-repeat fixed 1%;
}

.mg-top{
    margin-top: 6%;
}

.mg-bot{
    margin-bottom: 11%;
}

.chip-pad{
    margin: -2px 0px 5px -1px;
}

li > a {
    color: #27947e;
}

li > a:hover {
    color: black;
    font-weight: 400;
    font-size: 17px;
}

.inactive-link {
    color: #6c6c6c;
    pointer-events: none;
    cursor: default;
}

.list-filter{
    list-style: circle;
    padding: 0 0 0 12px;
}

.list-filter-header{
    padding: 0 0 0 25px;
    list-style: disc;
}


/* For mobile phones: */
.star-rating {
    font-size: 15px;
}

@media only screen and (max-width: 768px) {
    .star-rating {
        font-size: 17px;
    }
}

@media only screen and (min-width: 1800px) {
    .star-rating {
        font-size: 1.4em;
    }
}
