<nav class="transparent z-depth-0">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="#/" class="breadcrumb">Todos os Produtos</a>
        </div>
    </div>
</nav>

<div class="row">
    <!-- Start Filters -->
    <div class="col l3 m5 s12">
        <div class="card z-depth-2">
            <div class="card-content">
                <h5>Filtre por: </h5>

                <div class="filters_list"></div>

                <div ng-repeat="filter in filters">
                    <ol class="list-filter-header">
                        <li> {{ filter.name }}:
                            <ol class="list-filter">
                                <li ng-repeat="f in filter.items">
                                    <a id="{{ f.id_caller }}" ng-click="addFilter($parent.$index, $index)" href>{{ f.text }}</a>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- End Filters -->

    <!-- Start List Items -->
    <div class="col l9 m7 s12">
        <div class="row">
            <!--<div infinite-scroll='product.nextPage()' infinite-scroll-disabled='product.busy' infinite-scroll-distance='1'>-->
                <div ng-repeat='item in items | filter: query'>
                    <div class="col s12 l4">
                        <div class="row">
                            <div class="col s12">
                                <div class="card z-depth-2">
                                    <div class="card-image card-image-fixed">
                                        <a href="#/show/343" class="waves-effect waves-ripple">
                                            <img ng-src="{{ item.images[0] }}">
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-title black-text" style="height: 2em;">
                                            <p style="line-height: 25px !important;">{{ item.category.name | truncate: 35 }}</p>
                                        </div>

                                        <div class="star-rating mg-top mg-bot">
                                            <span class="right"> {{ item.price | currency : "R$ "}} </span>
                                            <span class="left" ng-bind-html="stars_html(item)"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show='product.busy'>
                    <div class="col s6 offset-s3 center">
                        <div class="preloader-wrapper big active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--</div>-->
        </div>
    </div>
    <!-- End List Items -->
</div>
