<!DOCTYPE html>
<html lang="en" ng-app="RapidShopApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Rapid Shop | One of the Best Thrift Shop 2015 Awards</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico" />
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="bg">
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        window.fbAsyncInit = function() {
            FB.init({
                appId      : '787912147999016',
                xfbml      : true,
                cookie     : true,
                version    : 'v2.5'
            });

            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        };
    </script>

    <nav class="grey lighten-1 valign-wrapper" role="navigation">
        <div class="nav-wrapper container">
            <div class="center valign">
                <a id="logo-container" href="#/" class="idx brand-logo center" title="Rapid Shop - Home">
                    <img src="images/logo.png" alt="" height="45" style="margin-top: 20%">
                </a>

                <div class="valign brand-logo hide-on-small-only right">
                    <div class="row">
                        <div class="col s12">
                            <div class="col s6">
                                <a id="shopping-cart" href="#!" class="valign brand-logo idx hide-on-small-only cart-dropdown" data-activates='cart'>
                                    <i class="fa fa-shopping-cart" style="color: #EBEBEB; padding-left: 42px"></i>
                                </a>
                            </div>
                            <div class="col s6">
                                <a id="user-profile-container" href="#!" data-activates='user' class="valign brand-logo idx hide-on-small-only user-dropdown">
                                    <i class="fa fa-user" style="color: #EBEBEB"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="hide-on-small-only">
                    <div class="input-field">
                        <input id="search" type="search" style="font-size: 30px" required>
                        <label for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>

            <!-- Dropdown Structures -->
            <ul id="user" class="dropdown-content collection" ng-controller="LoginController">
                <li ng-hide="loginStatus.status == 'connected'">
                    <a ng-click="login()" href> Entrar com o Facebook</a>
                </li>
                <li class="collection-item avatar" ng-hide="loginStatus.status != 'connected'">
                    <img src="{{ user.picture.data.url }}" id="img-user-profile" alt="" class="circle mg-top">
                    <span class="title black-text">{{ user.name }}</span>
                </li>
                <li class="collection-item" ng-hide="!loginStatus || loginStatus.status != 'connected'">
                    <a href ng-click="logout()">Logout</a>
                </li>
            </ul>

            <ul id="cart" class="dropdown-content collection" ng-controller="ShopCartController">
                <li ng-repeat="f in basket" class="collection-item avatar">
                    <img src="{{ f }}" class="circle mg-top">
                    <span class="title black-text">{{ f.name }}</span>
                </li>
            </ul>

            <a href="#" data-activates="mobile-demo" class="button-collapse show-on-small hide-on-med-and-up">
                <i class="material-icons">menu</i>
            </a>

            <ul class="side-nav" id="mobile-demo">
                <li><a href="#/">Home</a></li>
                <li><a href="#/">Perfil</a></li>
                <li><a href="#/">Carrinho</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" ng-view></div>

    <!--  Scripts-->
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/jssor.slider.mini.js"></script>

    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-route.min.js"></script>
    <script src="js/angular/angular-sanitize.min.js"></script>
    <script src="js/angular/angular-easyfb.min.js"></script>
    <script src="js/angular/ng-infinite-scroll.min.js"></script>
    <script src="js/module.js"></script>

    <script src="js/angular/product_factory.js"></script>
    <script src="js/star_factory.js"></script>
    <script src="js/angular/truncate_filter.js"></script>

    <script src="js/materialize.min.js"></script>

    <script src="js/init.js"></script>
    <script src="js/controller_list.js"></script>
    <script src="js/login_controller.js"></script>
    <script src="js/show_product_controller.js"></script>
    <script src="js/shop_cart_controller.js"></script>
</body>
</html>
