/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.idx {
    z-index: 99;
}

.bg{
    background: url('../images/background.jpg') no-repeat fixed 1%;
}

.mg-top{
    margin-top: 6%;
}

.mg-bot{
    margin-bottom: 11%;
}

.chip-pad{
    margin: -2px 0px 5px -1px;
}

li > a {
    color: #27947e;
}

li > a:hover {
    color: black;
    font-weight: 400;
    font-size: 17px;
}

.inactive-link {
    color: #6c6c6c;
    pointer-events: none;
    cursor: default;
}

.list-filter{
    list-style: circle;
    padding: 0 0 0 12px;
}

.list-filter-header{
    padding: 0 0 0 25px;
    list-style: disc;
}

/* For mobile phones: */
.star-rating {
    font-size: 15px;
}

@media only screen and (max-width: 768px) {
    .star-rating {
        font-size: 17px;
    }
}

@media only screen and (min-width: 1800px) {
    .star-rating {
        font-size: 1.4em;
    }
}


/*
 JSSOR - SLider

*/

     /* jssor slider arrow navigator skin 22 css */
     /*
     .jssora22l                  (normal)
     .jssora22r                  (normal)
     .jssora22l:hover            (normal mouseover)
     .jssora22r:hover            (normal mouseover)
     .jssora22l.jssora22ldn      (mousedown)
     .jssora22r.jssora22rdn      (mousedown)
     */
 .jssora22l, .jssora22r {
     display: block;
     position: absolute;
     /* size of arrow element */
     width: 40px;
     height: 58px;
     cursor: pointer;
     background: url('../images/arrow.png') center center no-repeat;
     overflow: hidden;
 }
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }
