<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="connection.url">
			jdbc:postgresql://localhost:5432/brecho-online
		</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">admin</property>
		<property name="connection.driver_class">
			org.postgresql.Driver
		</property>
		<property name="dialect">
			org.hibernate.dialect.PostgresPlusDialect
		</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<!-- Classes Mapeadas -->
		<mapping class="brecho.com.vo.AttachmentVO" />
		<mapping class="brecho.com.vo.BasketVO" />
		<mapping class="brecho.com.vo.CategoryVO" />
		<mapping class="brecho.com.vo.ProductBasketVO" />
		<mapping class="brecho.com.vo.ProductVO" />
		<mapping class="brecho.com.vo.UserVO" />

	</session-factory>

</hibernate-configuration>